/* FONTS*/
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

/* VARIÃVEIS DO CSS*/
:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
    --color-body: #282a36;
    --secondary-color: #F7DF1E;
}


/* DEFAULT RULES CSS*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* HTML*/
html {
    height: 100%;
    min-height: 100%;
    background-color: var(--color-body);
}

/* HEADER*/
header {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 22px;
    box-sizing: border-box;
    text-align: center;
}

.links {
    font-size: 26px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.851);
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--color-rocket);
}

.links a:hover {
    color: var(--color-rocket);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-rocket);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

header h1 {
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    color:var(--color-rocket);
}

/* BODY*/
body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

/* SECTION CONTACT
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section .content-contacts {
    border: 1px solid var(--color-rocket);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}*/
/* 
.content-contacts h2 {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    color: var(--color-green);
}

.contacts-item p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: rgb(255, 255, 255);
} */

/* TITLE CONTENT PAGE*/
.title-content {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.title-content h1 {
    font-size: 31px;
    line-height: 41px;
    color: rgb(255, 255, 255, 0.5);
}

.title-content p {
    font-size: 20px;
    line-height: 30px;
    color: var(--color-rocket);
    border-bottom: 1px solid var(--color-green);
}

/* FOOTER*/
footer {
    margin-top: auto;
    padding: 22px;
    text-align: center;
    border-top: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}


/*=== ERROR NOTIFICATION ===*/
div.error-notification {
    margin: auto;
}

.error-notification h1 {
    color: var(--color-green);
    padding: 10px;
    border: 1px solid;
    border-radius: 10px
}

/*=== MAIN LINKS ===*/
div.main_link {
    margin: 0 auto;
}

.main_link a {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-decoration: none;
}

.main_link a:hover {
    color: var(--color-green);
    border-bottom: 2px solid var(--color-rocket);
}

/*=== Content page contact===*/
div.item-contents {
    margin: 30px auto;
}

.item-contents h1 {
    font-size: 32px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid var(--color-rocket);
}

div.content-contact {
    margin: 30px auto auto;
    padding: 33px;
    border: 1px solid var(--color-green);
    border-radius: 16px;
}

.content-contact p {
    font-size: 23px;
    color: rgb(255, 255, 255);
}


/*=== CARD CONTACT===*/
.card {
    background-color: rgba(0, 0, 0, 0.1);
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
}

.details {
    padding: 32px;
    position: relative;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 16px;
    line-height: 26px;
    color: var(--color-rocket);
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-green);
}

.details .item div:nth-child(2) span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 8px;
    margin-top: 4px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

/*=== FORM===*/

form input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

form button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--color-rocket);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
}

form button[type="submit"]:hover {
    text-shadow: 1px 1px 1px black;
    background-color: rgb(113, 89, 193, 0.851);
}

a.button {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

a.button:hover {
    text-shadow: 1px 1px 1px black;
    background-color: rgb(113, 89, 193, 0.851);
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: rgb(240, 128, 128);
}

#form-delete button[type="submit"]:hover {
    background-color: rgb(240, 128, 128, 0.800);
}

/*=== INDEX CONTACTS ===*/
.table-container {
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container table thead tr th {
    text-align: left;
}

.table-container thead {
    color: rgb(252, 248, 248, 0.8);
}

.table-container table td {
    color: #777;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid var(--color-body);
}

/* tbody tr td:nth-child(3) {
    text-align: center;
} */

tbody tr:last-child td {
    border: none;
}

tbody tr td:last-child a,
.table-container > a{
    padding: 4px 16px;
    background-color: rgb(80, 250, 123, 0.700);
    border-radius: 8px;
    color: rgb(255, 255, 255, 0.999);
    margin-top: 4px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    /* border: 1px solid rgb(0, 0, 0, 0.800); */
    border-bottom: 3px solid rgb(0, 0, 0, 0.851);
}

.table-container > a {
    margin-bottom: 16px;
    background-color: rgb(119, 119, 119, 0.851);
}

.table-container > a:hover {
    background-color: rgba(95, 95, 95, 0.851);
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid black;
    margin-top: 6px;
}

tbody tr td:last-child a:hover {
    background-color: rgb(80, 250, 123, 0.5);
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid black;
    margin-top: 6px;
}

.table-container thead tr th:last-child, td:last-child {
    text-align: center;
}

/*=== BUTTON RETURN===*/

.return_button a {
    background-color: rgba(255, 12, 37, 0.851);
    padding: 8px 12px;
    border-radius: 16px;
    position: absolute;
    right: 5px;
    top: -18px;
    text-transform: uppercase;
    /* border: 1px solid rgb(0, 0, 0, 0.800); */
    border-bottom: 3px solid rgb(0, 0, 0, 0.800);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.return_button a:hover {
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid rgb(0, 0, 0, 0.800);
    margin-top: 2px;
    background-color: rgba(209, 1, 22, 0.851);
}

/*=== FILTERS===*/
.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    margin: 0;
    width: 120px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.table-container .header form input {
    border: 1px solid rgba(95, 95, 95, 0.851);
    padding: 6px 8px;
    box-sizing: border-box;
}

.table-container .header form button {
    margin: 0;
}

/*  pagination*/
.table-container {
    display: grid;
    grid-template: 64px 1fr 16px / 1fr;
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: var(--color-rocket);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.7);
    border-bottom: 1px solid var(--color-rocket);
}