{% extends "layout.njk" %}

{% block content %}
    <div class="error-notification">
        <h1>400 Bad Request</h1>
    </div>

    <div class="main_link">
        <a href="/">Voltar</a>
    </div>

{% endblock %}