{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/members">
    <section class="details">

        <div class="return_button"><a href="/members">Retornar</a></div>
    
        <h3>Novo Membro</h3>

        {% include 'members/fields.njk' %}

    </section>
</form>

{% endblock content %}